html {
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
    border-bottom: 1px solid black;
}

#add {
    margin-top: 10px;
}

input:focus {
    outline: none;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    border: 1px solid black;
}