input[type=text] {
    width: 25%;
    padding:12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: #f3f2f1;
    outline: none;
}

input[type=text]:hover {
    border: 2px solid black;
}

input[type=submit] {
    width: 25%;
    background-color: lightblue;
    border: none;
    padding: 16px 32px;
    margin: auto;
    display:block;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid gray;
    font-weight: bold;
    color: gray;
}

input[type=submit]:hover {
    border: 2px solid black;
    color: black;
}

.other {
    width: 5%;
    margin: auto;
    text-align: left;
    /* border: 1px solid black; */
}

.name_entry {
    text-align:center;
}

p {
    text-align: center;
}


